.header {
    padding-top: 38px;
}

.header__top {
    @media screen and (max-width: 605px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 483px) {
        justify-content: center;
    }
    
}

.mobileMenuBtnWrapper {
    display: none;

    @media screen and (max-width: 605px) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 483px) {
        margin-right: auto;
    }

}
.mobileMenuBtn {
    
    background-color: inherit;


    @media screen and (max-width: 605px) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .mobileMenuBtn__icon {
        fill: $textLinkColor;
    }

}

.siteNav__list {
    display: flex;
    justify-content: end;
    gap: 20px;

    @media screen and (max-width: 448px) {
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}

.siteNav__link {
    color: $textLinkColor;
    font-size: 10px;
    text-transform: uppercase;
    padding: 3px 4px 3px 0;

    &:hover,
    &--curentLink {
        color: $selectedLinkColor;
    }

    .siteNav__item--authorization &:not(:last-child) {
        border-right: 1px solid #cccccc;
    }

}


.header__midle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;

    @media screen and (max-width: 605px) {
        flex-direction: column;
        gap: 25px;
    }
}

// _________________

.header__midle--right {
    display: flex;
    align-items: center;
    gap: 28px;

    @media screen and (max-width: 605px) {
        width: 100%;
        justify-content: space-around
    }
}

// _________________________________________-
.searchForm {
    position: relative;

    @media screen and (max-width: 605px) {
        flex: 1 0 auto;
    }
}

.searchForm__input {
    width: 267px;
    height: 31px;
    border: 1px solid $textLinkColor;
    padding: 12px 30px 12px 10px;

    &:focus {
        border: 1px solid $selectedLinkColor;
    }

    @media screen and (max-width: 605px) {
        width: 100%
    }


}

.searchForm__icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    fill: $textLinkColor;
}

.searchForm__input:focus+.searchForm__icon {
    fill: $selectedLinkColor;
}


// ___________

.basket__link {
    display: inline-flex;
    align-items: center;
    color: $primaryTextColor;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
    transition: color $transitionSetting;

    &:hover {
        color: $selectedLinkColor;
    }
}

.basket__icon {
    fill: $selectedLinkColor;
    margin-right: 8px;
}

// ________________

.header {
    position: relative;
}

.header__bottom {
    margin-top: 33px;
    padding: 30px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    @media screen and (max-width: 605px) {
        margin-top: 0;
        padding: 0;
        border: none;
    }
}

.catalogNav {
    
    .closeMenuBtn {
        display: none;
    }
    
    @media screen and (max-width: 605px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: inherit;
        overflow: hidden;
        z-index: 2;
        transform: translateX(-100%);
        transition: transform $transitionSetting;

        &.isOpen {
            transform: translateX(0);
        }

        .catalogNav__List {
            flex-direction: column;
            height: 100vh;
            width: 50%;
            padding: 85px 0 20px 0;
            background-color: white;
            justify-content: start;
            border-right: 1px solid gray;
        }

        .closeMenuBtn {
            background-color: inherit;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 38px;
            left: 15px;

            .closeMenuBtn__icon {
                fill: $textLinkColor;
                transform: rotate(-90deg);
            }
        }
        
    }
}

.catalogNav__List {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    text-transform: uppercase;

    @media screen and (max-width: 765px) {
        gap: 50px;
    }


}

.catalogNav__link {
    display: flex;
    align-items: center;
    font-family: 'Proxima Nova Rg';
    color: $primaryTextColor;
    font-size: 14px;
    transition: color $transitionSetting;

    &__icon {
        fill: gray;
        margin-left: 12px;
    }

    &:hover {
        color: $selectedLinkColor;

        .catalogNav__link__icon {
            fill: $selectedLinkColor;
            transform: rotate(180deg);
        }
    }
}

.catalogNav__link__icon {
    transition: transform $transitionSetting;
}