.productCard {
    position: relative;
    padding-top: 33px;
}

.productGrid {
    display: flex;
    justify-content: space-between;
    gap: 31px;

    
    @media screen and (max-width: 1020px) {
        flex-direction: column;
    }
}

.productGrid_item {
    min-height: 300px;
}

.productGrid_item--left {
    flex-basis: 56.98%;
    min-width: 498px;

    @media screen and (max-width: 530px) {
        min-width: auto;
    }
}

.productGrid_item--right {
    flex-basis: 40.27%;

    @media screen and (max-width: 553px) {
        padding-top: 100px;
    }
}

.product__name {
    font-family: 'Avenir';
    font-size: 28px;
    line-height: 1;
}

.product__code {
    margin-top: 8px;
    font-size: 12px;
    color: gray;
}

// _____________
.product__reviews {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.rating__star {
    cursor: pointer;
    color: $selectedLinkColor;
}

.rating__star:not(:last-child) {
    margin-right: -5px;
}

.reviewsLinks {
    display: flex;
}

.reviewsLinks__item {
    padding: 0 3px;

    &:not(:last-child) {
        border-right: 1px solid $textLinkColor;
    }
}

.reviewsLinks__link {
    color: $textLinkColor;
    font-size: 12px;
    text-decoration: underline;

    &:hover {
        color: $selectedLinkColor;
    }
}

// _______________________

.product__price {
    margin-top: 25px;
}

.product__price__currentPrice {
    font-size: 28px;
    font-weight: 400;
    color: $promoTextColor;
}

.product__price__prevPrice {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    padding: 0 3px;
    font-size: 20px;
    color: #a4a4a4;

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 0;
        border-bottom: 1px solid #a4a4a4;
        transform: rotate(-15deg);
    }
}

.product__price__promo {
    display: inline-block;
    margin-right: auto;
    background-color: #f8f4ef;
    padding: 5px 10px;
    margin-top: 10px;


}

.product__price__promo__text {
    font-family: 'Avenir';
    font-size: 21px;
    color: $promoTextColor;
}

// ______________________

.product__parametrs {
    position: relative;
    margin-top: 30px;
}

.parametrsForm__field {
    margin-top: 28px;

    &:last-child {
        margin-top: 175px;
        padding-top: 12px;
        border-top: 1px solid #e1e1e1;
    }
}

.parametrOutput {
    font-size: 14px;

    &__prop {
        color: #a4a4a4;
        text-transform: uppercase;
        letter-spacing: 0.56px;
    }

    &__value {
        color: $primaryTextColor;
        font-weight: 600;
    }

}

.parametrInput {
    margin-top: 12px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.parametrInput__field {
    display: inline-flex;
    text-align: center;
    align-items: center;
}


.paramertInput__input {
    appearance: none;
}

.paramertInput__btn {
    display: inline-flex;
    text-align: center;
    align-items: center;
    background: inherit;
    width: 39px;
    height: 36px;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    transition: border $transitionSetting;

    .paramertInput__input:checked+& {
        border: 1px solid $selectedLinkColor;
    }

    &:hover {
        border: 1px solid $selectedLinkColor;
    }
}

.paramertInput__btnLabel {
    width: 100%;
    height: 100%;
    line-height: 2em;
    border: 4px solid white;
}

.sizeChar__link {
    color: $textLinkColor;
    margin-left: 6px;
    text-decoration: underline;
    transition: color $transitionSetting;

    &:hover {
        color: $selectedLinkColor;
    }
}

// _________________________________

.quantity {
    display: inline-flex;
    width: 70px;
    height: 35px;
    border: 1px solid #e1e1e1;
}

.quantity__input {
    width: 50%;
    line-height: 70px;
    text-align: center;
    border-right: 1px solid #e1e1e1;
}

.quantity__buttonsList {
    width: 50%;
}

.quantity__buttonItem {
    height: 50%;

    &:first-child {
        border-bottom: 1px solid #e1e1e1;
    }


}

.quantity__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: inherit;
}



.quantity__button__icon {
    fill: #cccccc;

    &--increment {
        transform: rotate(180deg);
    }

    .quantity__button:hover & {
        fill: black;
        transform: scale(180%);

        &--increment {
            transform: scale(180%) rotate(180deg);
            ;
        }
    }
}

.totalPrice {
    color: $primaryTextColor;
    font-size: 24px;
    margin-left: 25px;
}

.parametrsForm__addToBtnsList {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    @media screen and (max-width: 1020px) {
        justify-content: center;
    }

    @media screen and (max-width: 485px) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 90px;
    }

}

.addToBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 226px;
    height: 55px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 55px;
    background-color: inherit;
    color: $textLinkColor;
    border: 1px solid #e1e1e1;

    &:hover {
        color: $selectedLinkColor;
        border: 1px solid $selectedLinkColor;
    }

    
}

.addToBtn__icon {
    fill: $promoTextColor;

    .addToBtn:hover & {
        fill: $selectedLinkColor;
    }
}

.parametrsForm__submitBtn {
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 198px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: $selectedLinkColor;
    box-shadow: 2px 3px 21px rgba(182, 143, 91, 0.75);
    transition: color $transitionSetting;

    &:hover {
        color: $primaryTextColor;
    }

    @media screen and (max-width: 485px) {
        bottom: 145px;
        right: 50%;
        transform: translateX(50%);
    }
}

// ___________________________________

.product__shareBtns {
    margin-top: 33px;
    padding-bottom: 27px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
}

.shareBtnsn__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.shareBtnsn__title {
    color: #a4a4a4;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.56px;
    margin-right: 11px;
}

.facebookShareBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Avenir';
    width: 47px;
    height: 20px;
    border-radius: 2px;
    color: #ffffff;
    background-image: linear-gradient(to top, #3a53a3 0%, #4b67bc 100%);
}

.facebookShareBtn__icon {
    fill: #ffffff;
}

.printPageLink {
    display: inline-flex;
    align-items: center;
    margin-top: 6px;
    float: right;
    color: #a4a4a4;
    font-size: 10px;
    text-decoration: underline;

    .printPageLink__icon {
        margin-left: 3px;
        fill: #a4a4a4;
    }
}

// ________________________________

.productHandler {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 27px;
    width: 168px;
    height: 110px;

    span {
        display: inline-block;
        text-decoration: underline;
        margin-top: 7px;
    }

    &__prev span {
        float: right;
    }

    @media screen and (max-width: 1020px) {
        top: 925px;
    }
}

.productHandler__link {
    color: $textLinkColor;
    transition: color $transitionSetting;

    &:hover {
        color: $selectedLinkColor;
    }
}

.productHandler__image {
    width: 71px;
    height: 92px;
    transition: transform $transitionSetting;

    img {
        height: 100%;
        object-fit: cover;
    }

    .productHandler__link:hover & {
        transform: scale(110%);
    }
}

// ___________________________________________


.productGallery {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    max-height: 877px;
}

.productGallery__thumbnails {
    flex-basis: 25.11%;
    position: relative;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 19px;
    max-height: 877px;
    overflow: hidden;
}

.thumbnailsSliderBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 38px;
    border: 1px solid #a4a4a4;
    background-color: #f1f1f1;
    position: absolute;

    &--prev {
        top: 0;
        left: 0;
    }

    &--next {
        bottom: 0;
        left: 0;
    }
    
    .thumbnailsSliderBtn__icon {
        fill: #c7c7c7;

        &--next {
            transform: rotate(180deg);
        }
    }
}

.thumbnails__item {}

.thumbnails__link {}

.thumbnails__image {
    width: 100%;
    height: 205px;
    background-color: #e1e1e1;

}

.productGallery__photos {
    flex-basis: 70.59%;
    height: 877px;
    background-color: #e1e1e1;
}